body {
  front-family: DangerMode, Calibri, Arial;
  background-image: linear-gradient(#ff0000, #ffff00);
}
h1 {
text-align: center;
  front-family: Candara, Caibri, Arial;
}
#content {
margin: auto;
  width: 200px;
  text-align: justify;
}
.segment{
  padding: 10px;
  border: 3px solid #000000;
  /* border-width: 1px;
  border-color: #000000;
  border-style: solid; */
}
p{
  margin-top: 0px;

}/*

*/
.segment img{
  max-width:  300px;

  margin: 0px 5px 5px 0px;
  margin-right:  10px;
  float: left
  nargin-bottom: 10px
}

.segment .rightimg {
  float: right;

  .segment .leftimg {
    float: left;
}




/*

*/
