body {
  font-family: DangerMode, Calibri, Arial;
  background-image: linear-gradient(#ff0000, #ffff00);
}
h1 {
text-align: center;
  font-family: Candara, Caibri, Arial;
  color: #000000;
}
#content {
margin: auto;
  width: 200px;
  text-align: justify;
}
.segment{
  padding: 10px;
  border: 3px solid #000000;
  /* border-width: 1px;
  border-color: #000000;
  border-style: solid; */
}
p{
  margin-top: 0px;

}/*

*/
.segment img{
  max-width:  300px;

  margin: 0px 5px 5px 0px;
  margin-right:  10px;
  float: left
  nargin-bottom: 10px
}

.segment .rightimg {
  float: right;

  .segment .leftimg {
    float: left;
}

.page {

}


/*

*/
#openMenu {
  font-size: 1.5em;
display: none;
}


#closeMenu {
  display: none;
 }

  #menu {
  border: 2px solid #000000;
  display: flex;
}

.menuItem {
  border: 2px solid #000000;
  background color: #330033
  color: #CC9999;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  transition-propetry: color;
}

a {

}
.menuItem:hover {
  background-color: #33CC33;
}
@media screen and (max-width: 500px) {
  .page .f  {
    margin:0px;
    width: 20%;
  }
  #openMenu {
    font-size: 1.5em;
    display: inline;
  }

  #closeMenu {
    display: block;
  }
  #menu {
    display: block;
    position: absolute;
    top:  0px;
    z-index: 99;
    width: 95%;
    left:  50%;
    transform: translate(-50%);
  }
}
